{% extends 'community/layout.html' %}
{% block content %}
{{point}}
<div class="d-flex justify-content-center">
    <div class="write_box">
        <div class="write_form">
            <div class="write_form_container">
                <form class="post_write_table" action="" method="post" enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %}
                    {{ form.title }}
                    {{ form.contents }}
                    {{ form.photo }}
                    <div class="write_form_input">
                        <input type="submit" value="저장하기" class="btn btn-primary" />
                        <input type=button value="돌아가기" onClick="javascript:history.go(-1);">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('keydown', function (event) {
        if (event.keyCode === 13) {
            var str = document.getElementById("id_contents").value;
            str = str.replace('\n', <br />);
            console.log(str)
            event.preventDefault();
            document.getElementById("id_contents").value = str;
        };
    }, true);
</script>
{% endblock %}