<div class="table table-striped" id="comment_list">
    <div id='comment_body'>
        {% for comment in comments %}
        <div class="comment_row">
            <div class="comment_date">{{comment.created|date:'n/j'}}</div>
            <span colspan="3" class="comment_text">{{comment.text}}</span>
            

        {% if comment.user == user %}
            <span style="float: right;">
            <span>
                <a href="#" onclick="commentupdate(this.id)" id="{{ comment.id }}" class="btn btn-warning btn-sm btn_comment_update">수정</a>
            </span>

            <span> 
                <a class="btn btn-default" href="{% url 'community:comment_delete' comment.pk %}">삭제</a>
            </span>
            </span>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <form action="" method='POST' id="comment_form">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit" value="입력">
    </form>
</div>
<script>
    if (document.getElementById('updatetextarea')) {
        console.log('잇다')
        document.getElementById('updatetextarea').style.display = 'none';
    }
    var pk = ''
    count = 0 //update a태그 중복클릭 못하게함 중복클릭하면 textarea가 계속 생기기 때문
    function commentupdate(commentid) {
        if (count===0) {
            count = 1//update a태그 중복클릭 못하게함 중복클릭하면 textarea가 계속 생기기 때문
            console.log(commentid)
            pk = commentid;
            document.getElementById(commentid).outerHTML += '<textarea id="updatetextarea"></textarea><button onclick="commentupdatesubmit()"></button>'
        }
        }
    function commentupdatesubmit() {
        comment = document.getElementById("updatetextarea").value;
        if (comment==='') {
            alert('내용이 없습니다. 댓글을 삭제하시려면 delete 버튼을 눌러주세요!')
        } else {
            commentpk = pk;
            $.ajax({
                type: "post",
                url: "{% url 'community:new_comment_update' %}",
                data: {'comment':comment, "pk":commentpk, "csrfmiddlewaretoken": "{{csrf_token}}"},
                success: function (response) {
                    console.log('success')
                    location.reload();
                }
            })
        }
    }
</script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

{#새로고침될때마다 양식 재제출 방지하는 코드-지영(원리는모름,지우면안됩니다!)#}
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>