.community-list-page-title {
    background-color: #ffffff;
    text-align: center;
}

.community-list-page-title p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 28px;
    margin-top: 30px;
    color: #999999;
}