{% extends 'community/layout.html' %}

{% block content %}
<div class="post_list_container">
    <div class="post_list_sec1">
        <div class="sec1user">
            <img src="/uploads/gallery/banana_dWfT6yB.png" alt="없음" class="list_user"
                style="max-width: 60px; max-height: 60px; margin-top: 30px;">
            <p class="sec1name">{{ user }}님</p>
        </div>
        <div class="post_list_sec1_write">
            <a href="{% url 'community:write' my_school.pk my_community.pk %}" class="sec1write_btn">글쓰기</a>
            <a href="{% url 'community:my_write' %}" class="sec1write_btn">내가 쓴 글</a>
            <a href="{% url 'community:post_i_like' %}" class="sec1write_btn">좋아요 누른 글</a>
            <a href="" class="sec1write_btn">스크랩한 글</a>
        </div>
        <!-- 게시판 목록  -->
        <div class="sec1_list">
            {% for community in communities %}
            <a href="{% url 'community:post_list' my_school.pk community.pk %}">{{community.name}}</a>
            {% endfor %}
        </div>
    </div>
    <!-- <div class="p_l_container-sub"> -->
    <div class="post_list_sec2">
        <div class="post-page-title">
            <p>{{ my_school }} {{ my_community }}</p>
            <div id="community-description">상세 설명{{ description }}</div>
        </div>

        <div class="post-page-body">
            <div class="sec2_post">
                <!-- 검색기능  -->
                <div class="sec2_search">
                    <div class="sec2-community-search">
                        <div><input type="text" placeholder="키워드 검색"></div>
                        <div>
                            <button>검색</button>
                        </div>
                    </div>
                </div>

                <!-- 게시글 table  -->
                <table class="post-table">
                    <thead>
                        <tr>
                            <td width=100>글 번호</td>
                            <td width=400>글 제목</td>
                            <td width=100>등록일</td>
                            <td width=80>좋아요</td>
                            <td width=80>댓글</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts_community %}
                        <tr>
                            <td width=100 id="post-list-pk">{{ post.pk }}</td>
                            <td width=380 id="post-list-title"><a
                                    href="{% url 'community:post_detail' post.id %}">{{ post.title }}</a></td>
                            <td width=100 id="post-list-date">2020/08/07</td>
                            <td width=80 id="post-list-like">22</td>
                            <td width=80 id="post-list-comment">12</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- 페이지네이션 -->
                <div class="p_1_pgd">
                    {% if page.has_previous %}
                    <a href="?page={{ page.previous_page_number }}">Previous</a>
                    {% endif %}
                    Page {{ page.number }} of {{ page.paginator.num_pages }}
                    {% if page.has_next %}
                    <a href="?page={{ page.next_page_number }}">Next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="post_list_sec3">
        <div class="p_l_sec3_box">
            <div style="text-align: center;">실시간 인기 글</div>
            <div class="sec3_post">
                {% for hot_post in hot_posts %}
                <a href="{% url 'community:post_detail' hot_post.id %}"> {{ hot_post.title }}{{ hot_post.user }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}