/* post_list */
.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1.4fr 1.4fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "combox_big g1 g2" "combox_big g3 g4";
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.combox_big { grid-area: combox_big; }

.g1 { grid-area: g1; }

.g2 { grid-area: g2; }

.g3 { grid-area: g3; }

.g4 { grid-area: g4; }