<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <script type="text/javascript" src="/path/to/jquery.js"></script>
    <script type="text/javascript" src="/path/to/awselect.js"></script>
    <script type="text/javascript" src="javascript/signup.js"></script>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
    <link href="/path/to/awdropdown.css" rel="stylesheet" />
</head>
<header>
    <div><a href="/" class='head_link' id="home"><i class="fas fa-home"></i> 단디알아방</a></div>
    <div class="head_sec1">
        <div id="review"><a href="/" class='head_link'>거주후기</a></div>
        <div id="community"><a href="/" class='head_link'>커뮤니티</a></div>
    </div>
    <div class="head_sec1_sign">
        {% if user.is_authenticated %}
        <a href="{% url 'community:my_page' %}" class='head_link'>마이페이지</a>
        <a href="{% url 'user:logout' %}" class='head_link'>로그아웃</a>
        {% else %}
        <a href="{% url 'user:signup' %}" class='head_link'>회원가입</a>
        <a href="{% url 'user:login' %}" class='head_link'>로그인</a>
        {% endif %}
    </div>
</header>

<body>
    <div class="d-flex justify-content-center">
        <div class="signup-wrapper">
            <div class="signup-container">
                <div class="signup-logo">
                    DDARABANG
                </div>
                <form id="signup-form" method="POST" action="{% url "user:signup" %}">
                    {% csrf_token %}
                    {{form.first_name}}
                    {{form.last_name}}
                    {{form.school}}
                    {{form.email}}
                    {{form.password}}
                    {{form.password1}}
                    <button class="signup-button">SignUp</button>
                </form>
                </form>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="dandi"> 단디 알아방</div>
    <div class="piro"> 피로그래밍 13기 | 팀프로젝트 1조</div>
    <div class="team"> 팀원: 배인경 이예진 이유림 이지호 한지영</div>

</footer>

</html>