{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>회원가입</h1>

    <form method="POST" action="{% url 'signup'%}">
        {% csrf_token %}

        학교 이메일:
        <input name="username" type="text" style=width:137px; placeholder="username"> @ <select name="addr" style=width:136px;>
            <option>-----email address-----</option>
            <option value="cau.ac.kr">cau.ac.kr</option>
            <option value="hanyang.ac.kr">hanyang.ac.kr</option>
            <option value="khu.ac.kr">khu.ac.kr</option>
            <option value="yonsei.ac.kr">yonsei.ac.kr</option>
            <option value="snu.ac.kr">snu.ac.kr</option>
        </select><br>

        이메일 확인:
        <input name="email" type="text" style=width:300px; placeholder="confirm email 이메일 전체 입력">

        <p>
        비밀번호:
        <input name="password1" type="password" placeholder="password"> <br>
        비밀번호 확인:
        <input name="password2" type="password" placeholder="confirm password">
        </p>
        <br><input type="submit" class="btn btn-primary" value="회원가입"><a href=""></a><br>

        <p>
        이미 계정이 있나요? <button class="login"><a href="/user/login">로그인</a></button>
        </p>

    </form>
</div>
{% endblock %}