<!--app_key = 3f8032079c429bb4cc8bf94cface1363-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>주소로 장소 표시하기</title>
</head>
<body>
<div id="map" style="width:100%;height:350px;"></div>


<form id="homeform" action="{% url 'review:checkaddress' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input id="address" type="text" name="address" value="{{ address }}">
    <br>
    <input id="lat" name="lat" type="text">
    <br>
    <input id="lng" name="lng" type="text">
    <br>

    <input id="image" name="image" type="hidden" value="{{ image }}">
    <br>
    <input id="floor" name="floor" type="hidden" value="{{ floor }}">
    <br>
    <input id="advantage" name="advantage" type="hidden" value="{{ advantage }}">
    <br>
    <input id="disadvantage" name="disadvantage" type="hidden" value="{{ disadvantage }}">
    <br>

    <input id="water" name="water" type="hidden" value="{{ water }}">
    <br>
    <input id="waterplus" name="waterplus" type="hidden" value="{{ waterplus }}">
    <br>
    <input id="light" name="light" type="hidden" value="{{ light }}">
    <br>
    <input id="lightplus" name="lightplus" type="hidden" value="{{ lightplus }}">
    <br>
    <input id="noise" name="noise" type="hidden" value="{{ noise }}">
    <br>
    <input id="noiseplus" name="noiseplus" type="hidden" value="{{ noiseplus }}">
    <br>
    <input id="security" name="security" type="hidden" value="{{ security }}">
    <br>
    <input id="securityplus" name="securityplus" type="hidden" value="{{ securityplus }}">
    <br>
    <input id="bug" name="bug" type="hidden" value="{{ bug }}">
    <br>
    <input id="bugplus" name="bugplus" type="hidden" value="{{ bugplus }}">
    <br>

    <input id="money" name="money" type="hidden" value="{{ money }}">
    <br>
    <input id="recommend" name="recommend" type="hidden" value="{{ recommend }}">
    <br>
</form>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3f8032079c429bb4cc8bf94cface1363&libraries=services"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

// 지도를 생성합니다
var map = new kakao.maps.Map(mapContainer, mapOption);

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

// 주소로 좌표를 검색합니다
geocoder.addressSearch('{{address}}', function(result, status) {

    // 정상적으로 검색이 완료됐으면
     if (status === kakao.maps.services.Status.OK) {

		var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
		var lat = result[0].y
		var lng = result[0].x
		console.log(lat,lng)
        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:6px 0;">{{address}}</div>'
        });
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);

        document.getElementById("lat").value = lat
        document.getElementById("lng").value = lng

         autosubmit()
    }
});

function autosubmit() {
    document.getElementById('homeform').submit();
}
</script>

{#<script>#}
{# document.getElementById('homeform').submit();#}
{#</script>#}

</body>
</html>