/* community_list */
.community-body {
    background-color: #E7E2DF;
    padding-bottom: 8%;
}

.community-grid-container {
    display: grid;
    grid-template-columns: 22% 22% 22%;
    grid-template-rows: 200px 200px;
    gap: 2% 10px;
    grid-template-areas: "combox_big g1 g2" "combox_big g3 g4";
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;

}

.community-grid-container a p {
    margin-top: 10px;
    padding-bottom: 8px;
    margin-left: 9%;
    width: 80%;

}

.community-grid-container a:hover {
    opacity: 1.0 !important;
}

.community_list_btn_grid {
    background-image: url(/static/img/10.png);
    background-size: 40%;
    opacity: 0.6 !important;
    background-repeat: no-repeat;
    background-color: #F4F0F0;
    border: none;
    border-radius: 5px;
    background-position-x: 50%;
    background-position-y: 70%;
}

.community_list_btn_grid p {
    color: black;
}

.community_list_btn_grid:hover {
    opacity: 1.0 !important;
}

.community-all {
    grid-area: combox_big;
    background-color: #F4F0F0;
    border: none;
    border-radius: 5px;
    opacity: 0.7 !important;
    background-image: url(/static/img/11.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 30px;
}

.community-all:hover {
    opacity: 1.0 !important;
}

.community-all a {
    margin-top: 30px;
    color: black;
}


.btn_grid:nth-child(1) {
    grid-area: g1;
}

.btn_grid:nth-child(2) {
    grid-area: g2;
}

.btn_grid:nth-child(3) {
    grid-area: g3;
}

.btn_grid:nth-child(4) {
    grid-area: g4;
}

/*all_community_list*/

.all-community-body{
    background-color: #E7E2DF;
    padding-bottom: 8%;
}

.all_community-grid-container {
    display: grid;
    grid-template-columns: 22% 22% 22%;
    grid-template-rows: 200px 200px;
    gap: 2% 10px;
    grid-template-areas: "combox_big g1 g2" "combox_big g3 g4";
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
}

.community-school{
    grid-area: combox_big;
    background-color: #F4F0F0;
    border: none;
    border-radius: 5px;
}
.all_btn_grid {
    background-color: #F4F0F0;
    border: none;
    border-radius: 5px;
}

.all_btn_grid:nth-child(1) {
    grid-area: g1;
}

.all_btn_grid:nth-child(2) {
    grid-area: g2;
}

.all_btn_grid:nth-child(3) {
    grid-area: g3;
}

.all_btn_grid:nth-child(4) {
    grid-area: g4;
}


/* comment_update */
.update {
    padding-top: 80px;
}



/* post_i_like */
.post_i_like_container {
    background-color: #F4F0F0;
}

body > div > div > div.p_l_sec2 > div.sec2_post > div {
    position: absolute;
    bottom: 50px;
    left: 800px;

}

body > div > div > div.sec1 > div.sec1write > input[type=button] {
    font-size: 1em;
    text-decoration: none;
    /* color: white; */
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin-top: 160px;
    margin-left: 45px;
    margin-right: 50px;
    border: 1px solid white;
}

/* my_write */
.post_list_sec1_write input {
    font-family: 'S-CoreDream-3Light';
    display: block;
    margin: 20px auto;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    background-color: transparent;
    border: white solid 2px;
    border-radius: 5px;
    font-weight: bold;
}

.post_list_sec1_write input:hover {
    background-color: white;
    color: black;
}

.my_write_sec2 {
    padding-left: 16%;
    padding-top: 1%;
    height: 100%;
    width: 100%;
    background-color: #F4F0EE;
}

#my-write-title {
    font-family: 'KOMACON';
    font-size: 32px;
}

.my_write_sec2 > div:nth-child(1) {
    margin-top: 5%;
    margin-left: 10%;
    font-size: 40px;
}

.my_write_list {
    height: 69%;
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    background-color: darkslategray;
    overflow-x: hidden;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11)
}

.my_write_list::-webkit-scrollbar {
    display: none;
}

.my_write_list_box {
    width: 97%;
    height: 25%;
    padding-top: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    border-radius: 5px;
}

.my_write_list_box > a {
    display: block;
    text-decoration: none;
    color: black;
    height: 100%;
    margin-left: 10px;
    display: flex;

}


.my_write_list_box div {
    font-family: 'KoPub Batang';
}


.my_write_list_box div:nth-child(1) {
    font-family: 'KoPub Dotum';
    font-size: 18px;
    color: darkslategray;
}

.my_write_list_box div:nth-child(2) {
    font-size: 28px;
    color: black;
}

.my_write_list_box div:nth-child(3) {
    font-size: 18px;
    color: black;
}

.my_write_list_box_content {
    width: 80%;
}

.my_write_list_box_info {
    display: flex;
    border-left: 2px solid lightgray;
    justify-content: space-around;
    width: 20%;
    height: 92%;

}

.my_write_list_box_info i {
    font-size: 20px;
}

.my_write_list_box_info div {
    font-family: 'KOMACON';
    padding-left: 5px;
}

.my_write_list_box_info_comments {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.my_write_list_box_info_likes {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.my_write_list_box_info_comments .fa-thumbs-up {

}

.my_write_list_box_info_likes .fa-thumbs-up {

}

/* post_i_like */
.post_i_like_sec1 {

}

