{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MAIN PAGE</title>
        <link rel="stylesheet" href="{% static 'css/DDmainpage.css' %}">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

<body>
    <div class="flex">
        <div class="main">
            <div class="main-content">
                <div class="title">
                    <div id="dandi">단디알아방</div>
                    <div id="comment">자취방/하숙집 사용후기 공유 커뮤니티 서비스</div>
                </div>
                <div class="search-box">
                    <div class="container">
                        <button class="icon-1"><i class="fa fa-search"></i></button>
                        <input type="search" id="search" placeholder="대학교 혹은 지역구 검색" />
                    </div>
                </div>
                <br>
                <div class="detail-content">
                    <ul>
                        <li class="description">서비스 상세설명1</li>
                        <li class="description">서비스 상세설명2</li>
                        <li class="description">서비스 상세설명3</li>
                        <li class="description">서비스 상세설명4</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="barsec1">
                {% if user.is_authenticated %}
                <div><a href="{% url "user:logout" %}">로그아웃</a></div>
                {% else %}
                <div><a href="{% url "user:login" %}">로그인</a></div>
                <div><a href="{% url "user:signup" %}">회원가입</a></div>
                {% endif %}
                </ul>
            </div>

            <div class="barsec2">
                <div class="map-review-go">
                    <div id="map-review">지도에서 바로 거주 후기를 보고싶다면?</div>
                    <button id="map-review-button"><a href="{% url 'review:map_main' %}">리뷰 보러 가기</a></button>
                </div>
                <div>
                    <div id="community">우리지역 자취 커뮤니티</div>
                    <div class="search-box-2">
                        <div class="container-2">
                            {% include 'school_search.html' %}
                        </div>
                        <br>
                    </div>
                    <div id="selectedschool"></div>
                    <div class="schools" id="schools">
                        <div id="alertmsg"></div>
                        {% for school in schools %}
                        <!-- <button onclick = "location.href='/community/{{ school.id }}'" id="{{school.name}}">{{ school.name }}</button> -->
                        <a href="/community/{{ school.id }}" id="{{school.name}}">{{ school.name }}</a>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    $(function () {
        var state;
        var user_number_list;
        var user_name_list;
        var extore_title;
        var url;
        var phoneNumber;
        var userName;

        // 초대할 사용자를 찾기 위해 회원 검색 버튼을 누른 경우
        $('.schoolSearch').submit(function (e) {
            e.preventDefault();
            url = $(this).attr('action');
            // 검색한 키워드 값을 userKeyword 변수에 저장                
            userKeyword = $('input[name=schoolSearch]').val();

            $.ajax({
                url: url,
                method: "POST",
                data: {
                    // POST 방식이라면 'csrfmiddlewaretoken':'{{csrf_token}}' 입력 필수
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    'userKeyword': userKeyword,
                },
                // ajax 요청이 성공한다면 진행되는 콜백 함수
                success: function (data) {
                    // ajax 요청이 성공한다면, callbackFirst(data) 함수가 실행
                    callbackFirst(data);
                }
            });
        });
        function callbackFirst(data) {
            // 뒤로가기 버튼 클릭한 경우
            $('.btn-back').click(function (e) {
                $('.schoolSearched').html("");
                $('.form-control').val("");
            });
            // 닫기(x) 버튼 클릭한 경우
            $('.close').click(function (e) {
                $('.schoolSearched').html("");
                $('.form-control').val("");
            });
            // 요청한 키워드가 없는 경우
            if (data.noKeyword) {
                alert('회원의 이름, 연락처, 닉네임 중 하나를 선택하여 입력해주세요.');
            }
            // 해당 키워드에 맞는 사용자가 검색된 경우
            if (data.isSearched) {
                $('.schoolSearched').html("");
                $('.schoolSearched').prepend(data.html);
                $(".searched-user").hover(function () {
                    $(this).css('cursor', 'pointer');
                });
            }
        }
    })
    </script> -->
</body>
<script>
    function search() {
        input = document.getElementById("input").value
        console.log(input)
        var list = []
        {% for school in schools %}
        list.push('{{school.name}}')
        {% endfor %}
        if (list.includes(input)) {
        } else {
            document.getElementById('alertmsg').innerHTML = '다시 입력해주세요!'
            document.getElementById('schools').style.display = 'block';
        }
        {% for school in schools %}
        if (input === '{{school.name}}') {
            school = document.getElementById('{{school.name}}')
            console.log(school)
            console.log(school)
            console.log(typeof (school))
            school = "<a href='/community/{{ school.id }}' id='{{school.name}}'>{{ school.name }}</a>"

            document.getElementById('selectedschool').innerHTML = school
            document.getElementById('alertmsg').innerHTML = ''
            document.getElementById('schools').style.display = 'none';
        }   
        {% endfor %}
    }
</script>
</html>